.idea/
zoteroapiserv/.idea/
zoteroapiserv/zotserenv/
zoteroapiserv/app/__pycache__/
backendAPI/djangoAPIenv/
backendAPI/.idea/
backendAPI/backendAPI.iml
backendAPI/backedAPI/backedAPI/__pycache__/
backendAPI/backedAPI/recomapiservice/__pycache__/
backendAPI/backedAPI/recomapiservice/views/__pycache__/
RD_webapp/node_modules/
RD_webapp/build/
RECservice/.idea/
RECservice/recservenv/
RECservice/app/keyidmap.json
RECservice/app/keylist.txt
RECservice/app/vectors.index
RECservice/app/__pycache__/
RECservice/app/cache/*
!RECservice/app/cache/.placeholder
zoteroapiserv/app/cache/*
!zoteroapiserv/app/cache/.placeholder
